$colorPalette : (
    success : #1bd760 ,
    warning : #f90 ,
    danger : #ff5600 ,
    bgbody : #f4f4f4 ,
    whiteText : #ffff ,
    bgBlack : #000000 ,
    hamburgerLines : #ecf0f1 ,
    bookBtn : #c5bc58 ,
    blackSection : #111118 ,
    dateInput : #1F1F2C ,
    requestBtn : #6fb586 ,
    blackTransparent : rgba(0,0,0,0.5) ,
    darkBtn : #323232 ,
    readMoreBtn : #498f60 ,
    footerbgColor : #15151e ,
    footerColor: #fdfdfd ,
    dark : #171720 ,
    modalHeader : rgb(136, 240, 231),
    carouselDot : #949292
)


